body{
	margin:0;
	padding:0;
	background-image:url(bg44.png);
}
.Login page{
	height:100%;
	width:100%;
	background-image:url(bg44.png);
	background-position:center;	
	background-size:cover;
	position:absolute;
}
.details{
	width:260px;
	height:280px;
	position:relative;
	margin:14% auto;
	padding:5px;
	text-align:center;
	
}
.signin{
	top:180px;
	position:absolute;
	width:280px;
	transition:0.5s;
}
.input{
	width:85%;
	padding:10px 0;
	margin:10px 0;
	border:1px solid;
		
}
.button{
	padding:15px 15px;
	cursor:pointer;
	margin:auto;
	border:1px solid;
    background:linear-gradient( pink,purple);
	border-radius:5px;
}
a{
	font-size:24px;
	color:blue;
}






	
	
