body{
	margin:0;
	padding:0;
	background-image:url(bg55.png);
}
.fruits{
	
	height:100%;
	width:100%;
	background-position:center;	
	background-size:cover;
	position:absolute;
    background-image:url(bg7.png);
    font-style:Italic;	
    color:#34d3eb;
	font-size:50px;
}
h1{
	font-family:'Rubik', sans-serif;
	font-size:50px;
	font-style:Italic;
	color:#eb34ba;
	text-align:center;
	text-shadow:5px 2px;
}
.fruits center{
	height:100%;
	width:100%;
	background-position:center;	
	background-size:cover;
	position:absolute;
	
}
.number{
	width:20%;
	padding:10px 0;
	margin:20px auto;
	margin-left:30px;
	border:1px solid;
}
.buttons{
	width:20%;
	padding:10px 10px;
	margin:5px  auto;
	margin-left:30px;
}




	




	
	